.wrapper {
  display: block;
  width: 480px;
  height: 480px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.apple {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: red;
}
.but {
  display: block;
  width: 48px;
  height: 32px;
  margin-left:auto;
  margin-right:auto;
}
